@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: aliceblue;
  max-width: 1600px;
  margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    background: #1A0B2E;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}

nav h1{
    font-size: 2.1rem;
    font-weight: 800;
}
.wave{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav p{
    font-size: 1rem;
    font-weight: 600;
}

.btn{
    margin-left: 282px;
    font-size: 1rem;
    font-weight: 700;
    padding: 13px 19px 13px 16px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.hero{
    background-image: url("./assets/hero-circle.png"), url("./assets/hero-bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center 24%, center center;
    height: 760px;
    text-align: center;
}

.hero-container{
    border: solid #250D44;
}

.hero-container h3{
    color: black;
    padding: 5px;
    background-color: #00FF88;
    border: none;
    border-radius: 25px;
    width: 75px;
    margin-left: 847px;
    margin-top: 113px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}

.hero-container img{
padding: 19px 0 121px;
}

.hero-container h1{
    font-size: 3.75rem;
    font-weight: 800;
}

.hero-container p{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 24px;
}

.btn1{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 13px 19px 13px 16px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.btn2{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 700;
    padding: 13px 19px 13px 16px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: #1A0B2E;
}

.pdcst{
    background: #1A0B2E;
    text-align: center;
    padding: 50px 0 100px;
}

.pdcst-info1{
    margin-bottom: 70px;
    border: none;
    outline: none;
}

.pdcst-info1 h1{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 16px;
}

.pdcst-info1 p, .pdcst-info2 p{
    font-size: 1rem;
    font-weight: 200;
    line-height: 30px;
}

hr{
    margin: 0 200px 80px;
    opacity: 20%;
} 

.pdcst-info2{
    display: flex;  
    justify-content: space-around;
    max-width: 1200px; 
    margin: 0 auto;
}

.pdcst-info2 h1{
    font-size: 3rem;
    color:#00FF88
}

.str-box{
    display: flex;
    align-items: center;
    gap: 5px;
}

.fa-star{
    font-size: 2.4rem;
    color: #00FF88;
}

.why{
    padding: 120px 0;
    background: #230E3D;
}

.why-container{
    margin: 0 200px;
}

.why h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 70px;
    text-align: center;
}

.why-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
} 

.layout0, .layout1, .layout2, .layout3{
    border: 2px solid white;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.layout0{
    padding: 40px;
}

.layout1{
    grid-row: span 2;
    padding: 112px 40px 0;
}

.layout2{
    grid-column: span 2;
    padding: 50px 40px 0;
}

.why-grid h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 16px;
}

.why-grid p{
    font-size: 1rem;
    line-height: 24px;
    margin-top: 16px;
}

.feature{
    background: #1A0B2E;
    padding: 120px 200px 120px;
}

.feature h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.feature-container{
    display: flex;
    gap: 30px;
}

.feature-box{
    border: 2px solid white;
    border-radius: 10px;
    background-color: #250D44;
}

.feature-box h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 24px 24px 12px;
}

.feature-box p{
    font-size: 1rem;
    line-height: 24px;
    padding: 24px 24px 12px;
}

.feature-box h3{
    color: #00FF88;
    padding: 0 24px 24px;
    font-size: 1rem;
}

.host{
    background: #1A0B2E;
    padding-bottom: 120px;
}

.host h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.host-container{
    padding-top: 40px;
}

.host-box{
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 29px;
    background-color: rgba(53, 17, 101, 0.4);
}

.host-info h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.host-info p{
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 16px;
}

.host-icon{
    display: flex;
    gap: 8px;
    
}

.icon{
    width: 40px;
    height: 40px;
    padding: 9px;
    border: 1px solid #533C72;
    border-radius: 50%;
}

footer{
    background-image: url("./assets/footer-bg.png");
    text-align: center;
}

footer h1{
    font-size: 5.5rem;
    padding-top: 90px;
}

.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 32px;
}

.icon2{
    display: flex;
    gap: 8px;
    font-size: 1rem;
}

footer p{
    font-size: 1rem;
    padding-bottom: 120px;
}